@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:400,600");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
input[type="email"],
input[type="password"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
}
input[type="email"]::placeholder,
input[type="password"]::placeholder {
  color: #999;
  opacity: 1;
}
button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
}
